body.archive,
body.search-results,
body.search-no-results {

	section#header {
		padding: 50px 0 0 0;

		h1 {
			font-weight: 700;
			font-size: 2.25em;
			padding: 0 0 30px 0;

			@include tablet-portrait {
				font-size: 3em;
			}
		}
	}

	section#posts {
		padding: 0 0 50px 0;
		min-height: 600px;
	}


}

body.search {

	header.fixed {
		position: static;
	}

	section#header {

		section#filters {
			background: #E8E9EB;
			padding: 14px 20px 13px 20px;
			margin: 0 0 60px 0;
			display: flex;
			flex-wrap: wrap;

			& > div {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				width: 100%;

				@include tablet-portrait {
					width: auto;
				}

				h5 {
					font-weight: bold;
					font-size: 1.125em;
					padding: 0 15px 0 0;
				}
			}

			.sort-by {
				padding: 0 0 25px 0;

				@include tablet-portrait {
					padding: 0 50px 0 0;
				}
				
				a {
					font-size: 1.125em;
					color: #384049;

					&.active {
						color: $blue;
					}

					&:hover {
						color: $blue;
						text-decoration: none;
					}

					& + a {
						margin: 0 0 0 15px;
					}
				}
			}

			.filter-by {
				justify-content: space-between;

				@include tablet-portrait {
					width: 400px;
					justify-content: flex-start;
				}

				h5 {
					width: 100%;
					padding: 0 0 10px 0;

					@include tablet-portrait {
						width: auto;
						padding: 0 15px 0 0;
					}
				}

				.tax {
					width: 48%;

					@include tablet-portrait {
						width: auto;
					}

					& + .tax {
						@include tablet-portrait {
							margin: 0 0 0 15px;
						}
					}

					.dd-btn {
						color: $dark-blue;
						background: #DCDDE1;
						padding: 15px 15px;
						width: 100%;
						display: block;
						font-size: 1.125em;
						border: none;
						text-align: left;
						overflow: hidden;
						cursor: pointer;
						outline: none;

						@include tablet-portrait {
							width: 140px;
						}
						

						&:after {
							display: block;
							content: '';
							background: url(images/down-arrow.svg) no-repeat 0 0;
							width: 8px;
							height: 5px;
							position: absolute;
							top: 50%;
							margin-top: -3px;
							right: 15px;
						}

					}


					.dropdown {
						position: absolute;
						left: 0;
						top: 78px;
						background: $white;
						box-shadow: 0 19px 22px rgba(156, 156, 156, 0.5);
						width: 280px;
						transition: 0.3s ease;
						z-index: 1000;
						opacity: 0;
						visibility: hidden;

						&.show {
							opacity: 1 !important;
							visibility: visible !important;
						}


						.list {
							padding: 20px 30px;
							max-height: 400px;
							overflow: scroll;

							.item {
								padding: 5px 0;
							}
						}

						.apply {
							background: #EEEFF1;
							padding: 20px 30px;

							a:hover {
								background: $blue;
								color: #EEEFF1;
							}
						}
					}

					&.tags {
						.dropdown {
							left: -150px;

							@include tablet-portrait {
								left: 0;
							}
						}
					}

				}



			}
		}


	}

}

body.search-no-results {
	section#posts {
		article {
			background: transparent;
		}
	}
}