footer {
	background: $dark-blue;
	padding: 40px 0;
	text-align: center;

	@include tablet-landscape {
		padding: 60px 0;
	}


	.logo {
		padding: 0 0 30px 0;

		a {
			display: block;

			img {
				margin: 0 auto;
			}
		}
	}

	.description {
		padding: 0 0 60px 0;
		max-width: 865px;
		margin: 0 auto;

		p {
			color: $white;
			font-size: 1em;
			line-height: 1.25em;
			letter-spacing: 0.05em;

			@include tablet-portrait {
				font-size: 1.5em;
			}

		}
	}

	.taglines {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.tagline {
			width: 100%;
			padding: 10px 0;

			@include tablet-portrait {
				width: auto;
				padding: 0 40px;
			}

			h4 {
				font-weight: 400;
				font-style: italic;
				color: #7A7A7A;
				font-size: 1.25em;
			}
		}
	}


	.more {
		padding: 60px 0;

		a {
			background: $blue;
			color: $white;
			font-size: 0.875em;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			font-weight: 600;
			padding: 15px 40px 15px;
			display: inline-block;
			border-radius: 4px;

			&:hover {
				background: #167AD7;
			}
		}
	}

	.clients {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		h5 {
			font-weight: 600;
			font-size: 0.875em;
			line-height: 1.25em;
			letter-spacing: 0.1em;
			color: #7A7A7A;
			text-transform: uppercase;
			padding: 0 0 30px 0;
			width: 100%;
		}

		img {
			margin: 0 auto;
		}

		.logos {
			width: 100%;

			@include tablet-portrait {
				padding: 0 10px;
				width: 50%;
			}


			& + .logos {
				padding: 20px 0 0 0;

				@include tablet-portrait {
					padding: 0;
				}
			}
		}
	}

}