header {
	background: $blue;
	padding: 25px 0;
	transition: all 0.5s ease;

	@include tablet-portrait {
		&.fixed {
			position: fixed;
			z-index: 100;
			width: 100%;
			box-shadow: 0 2px 9px rgba(196, 196, 196, 0.5);
			animation: smoothScroll 0.5s forwards;
		}

		@keyframes smoothScroll {
			0% {
				transform: translateY(-40px);
			}
			100% {
				transform: translateY(0px);
			}
		}

	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}


	#logo {
		a {
			display: block;
			
			img {
				width: 198px;
			}
		}
	}

	nav {
		display: none;
		width: 100%;

		@include tablet-portrait {
			display: block !important;
		}

		@include desktop {
			width: auto;
		}

		.nav-wrapper {
			@include tablet-portrait {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: flex-start;
				padding: 15px 0 0 0;
			}

			@include desktop {
				justify-content: flex-end;
				padding: 0;
			}
	
		}


		a {
			color: $white;
		}

		.category-links {
			padding: 25px 0 0 0;
			text-align: center;

			@include tablet-portrait {
				display: flex;
				justify-content: flex-start;
				padding: 0;
			}

			@include desktop {
				justify-content: flex-end;
			}

			a {
				display: block;
				font-size: 1em;
				padding: 20px 0;

				&:hover {
					color: #7ABFFF;
				}

				@include tablet-portrait {
					padding: 0 20px 0 0;

					&:last-of-type {
						padding-right: 0;
					}
				}

				@include desktop {
					padding: 0 0 0 20px;
				}			
			}
		}

		.search {
			padding: 20px 0 40px 0;

			@include tablet-portrait {
				padding: 0 20px;
			}

			@include desktop {
				padding: 0 40px;
			}


			a {
				display: block;
				width: 18px;
				height: 18px;
				background: url(images/search-icon.svg) no-repeat 0 0;
				text-indent: -99999px;
				margin: 0 auto;

				@include tablet-portrait {
					margin: 0;
				}
			}
		}

		.subscribe-btn {
			text-align: center;

			.btn:hover {
				color: $blue;
				border-color: $white;
				background: $white;
			}
		

		}
	}


	#toggle {
		width: 34px;
	    cursor: pointer;
	    padding: 8px 5px 8px 5px;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);

	    @include tablet-portrait {
	    	display: none;
	    }

		.patty {
		    width: 30px;
		    height: 2px;
		    background: $white;
		    transition: all 0.3s;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 30px;
			    height: 2px;
			    background: $white;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}

	&.open {

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

	}

}
