body.home.blog {
	background: #F6F6F6;

	section#hero {

		.post-hero {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;

			.photo,
			.info {
				width: 100%;

				@include desktop {
					width: 50%;
				}
			}

			.photo {
				min-height: 240px;

				@include tablet-portrait {
					min-height: 400px;
				}

			}

			.info {
				display: flex;
				align-items: center;

				.info-wrapper {
					padding: 50px;
					

					@include desktop {
						max-width: 640px;
					}
				}

				h1 {
					font-weight: 700;
					font-size: 2.25em;
					line-height: 1.125em;

					@include tablet-portrait {
						font-size: 3em;
					}
				}

				ul.post-categories {
					padding: 0 0 25px 0;

					li {
						a {
							font-size: 0.9375em;
						}
					}
				}

				.teaser {
					padding: 25px 0;
				}

				.btn:hover {
					color: $white;
					border-color: $blue;
					background: $blue;
					text-decoration: none;
				}
			}
		}


	}

	section#features {
		padding: 30px 0;

		.wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		

		.post-feature {
			width: 100%;
			color: $gray;

			@include tablet-portrait {
				width: 49%;
			}

			.photo {
				min-height: 180px;
				width: 100%;

				@include tablet-portrait {
					min-height: 230px;
				}
			}

			.info {
				padding: 50px;
				text-align: center;

				h2 {
					font-weight: 700;
					font-size: 1.25em;
					line-height: 1.125em;

					@include tablet-portrait {
						font-size: 1.5em;
					}
				}

				em.date {
					display: block;
					font-weight: 300;
					padding: 20px 0;
					color: $dark-blue;
					letter-spacing: 0.02em;
				}

				ul.post-categories {
					padding: 0 0 25px 0;

					li {
						a {
							font-size: 0.9375em;
						}
					}
				}

				.teaser  {
					text-align: left;
					p {
						display: inline;
					}

					.more {
						font-weight: bold;
						font-size: 0.75em;
						text-transform: uppercase;
						letter-spacing: 0.1em;
						padding: 0 0 0 5px;
					}
				}
			}


		}
	}

	section#list {

	}



}
