body.single-post {
	background: $white;

	article {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 75px 0;
		}
	}

	section#article-image {

		img {
			margin: 0 auto;
		}
	}

	section#article-header {
		text-align: center;
		padding: 50px 0;
		max-width: 720px;
		margin: 0 auto;

		@include tablet-portrait {
			padding: 75px 0;
		}

		ul.post-categories {
			padding: 0 0 35px 0;

			li {
				a {
					text-transform: uppercase;
					font-size: 1em;
					letter-spacing: 0.1em;
					font-weight: bold;
				}
			}
		}

		h1 {
			font-weight: 700;
			font-size:: 2em;
			line-height: 1.25em;

			@include tablet-portrait {
				font-size: 3em;
			}
		}

		.byline {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			padding: 40px 0 0 0;

			.photo {

			}

			.info {
				text-align: left;
				padding: 0 0 0 20px;

				h4.author {
					font-weight: 700;
					font-style: italic;
					font-size: 1.25em;
					letter-spacing: 0.05em;
					padding: 0 0 5px 0;
				}

				em.date {
					font-size: 0.9375em;
					letter-spacing: 0.05em;
				}
			}

		}


	}

	section#article-body {
		max-width: 860px;
		margin: 0 auto;
		color: $gray;

		@include desktop {
			display: flex;
		}

		aside#share {
			padding: 0 0 50px 0;


			.share-wrapper {
				display: flex;
				align-items: center;
				justify-content: center;

				& > div {
					padding: 0 10px;
				}

			}

			@include desktop {
				transform: translateX(-100px);

				.share-wrapper {
					display: block;
					position: -webkit-sticky;  // required for Safari
					position: sticky;
					top: 400px;


					& > div {
						padding: 10px 0;
						width: 30px;

						a {
							img {
								margin: 0 auto;
							}
						}
					}
				}
			}

		}


		aside#back-to-top {
			display: none;

			@include desktop {
				display: block;
				transform: translateX(100px);
				padding: 0 0 50px 0;

				.back-to-top-wrapper {
					position: -webkit-sticky;  // required for Safari
					position: sticky;
					top: 450px;

					a {
						text-decoration: none;
						display: block;

						span.icon {
							padding: 0 0 10px 0;
							display: block;
							width: 29px;

							img {
								margin: 0 auto;
							}
						}

						span.label {
							display: block;
							text-align: center;
							text-transform: uppercase;
							font-weight: 600;
							font-size: 0.875em;
							letter-spacing: 0.1em;
							white-space: nowrap;
							position: absolute;
							transform: translateX(-35px);
						}
					}

				}
			}

		}

		p, li {
			a.inline-tweet-click {

				&:after {
					content: '';
					display: inline-block;
					width: 26px;
					height: 23px;
					background: url(images/twitter-inline.svg) no-repeat 0 0;
					position: relative;
					top: 6px;
					margin: 0 0 0 4px;
				}

			}
		}

		p {
			font-size: 1em;
			line-height: 2.1875em;
			margin: 0 0 45px 0;
		}

		ul, ol {
			font-size: 1em;
			line-height: 1.9444em;
			margin: 0 0 45px 45px;
			max-width: 80%;


			li {

				& + li {
					padding: 20px 0 0 0;
				}

			}
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}

		blockquote {
			padding: 0 0 0 45px;
			margin: 0 0 45px 0;
			position: relative;

			p, a {
				margin: 0;
				font-weight: 300;
				font-size: 1.5em;
				font-style: italic;
				line-height: 1.5em;
				color: $pink;
				text-decoration: none;

				@include tablet-portrait {
					font-size: 2.3125em;
				}
			}

			a.inline-tweet-click {

				&:before {
					content: '';
					display: block;
					width: 61px;
					height: 56px;
					background: url(images/twitter-blockquote.svg) no-repeat 0 0;
					position: absolute;
					top: 50%;
					margin-top: -28px;
					left: -40px;
				}

			}

		}


		h1, h2 {
			font-weight: 700;
			font-size: 1.5em;
			padding: 0 0 20px 0;
			color: $dark-blue;
		}

		h3 {
			font-weight: 700;
			font-size: 1.25em;
			padding: 0 0 20px 0;
			color: $dark-blue;
		}

		h4, h5, h6 {
			font-weight: 700;
			font-size: 1em;
			padding: 0 0 20px 0;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: $dark-blue;
		}

		div.wp-caption {
			padding: 25px 0 35px 0;

			p {
				color: #A9A9A9;
				text-align: center;
				width: 90%;
				margin: 0 auto;
				padding: 30px 0 0 0;
				font-style: italic;
			}

			img {
				width: auto !important;
				height: auto !important;
			}
		}

		a {
			text-decoration: underline;
			color: $dark-blue;
		}

		.cta-wrapper {
			text-align: center;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;
			padding: 0 0 30px 0;

			h3 {
				padding: 0;
				margin: 0 0 20px 0;
				font-weight: 400;
				font-size: 1.5em;
				text-transform: uppercase;
				color: $gray;
				font-style: italic;
				width: 100%;

				@include tablet-portrait {
					width: auto;
					margin: 0 20px 0 0;
				}
			}

			a.btn.cta {
				text-decoration: none;
				border-color: $pink;
				color: $pink;

				&:hover {
					background: $pink;
					color: $white;
				}
			}
		}

		.related-wrapper {
			strong {
				font-weight: bold;
				color: $dark-blue;
			}

			a {
				color: $blue;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

		}



	}

	section#article-footer {
		max-width: 800px;
		margin: 0 auto;
		color: $gray;

		div.read-more {
			padding: 0 0 75px 0;
			h4 {
				font-weight: 700;
				font-size: 1.5em;
				padding: 0 0 20px 0;
			}

			ul {
				list-style-type: disc;
				font-size: 1em;
				line-height: 1.125em;
				margin: 0 0 0 20px;
				max-width: 80%;

				@include tablet-portrait {
					font-size: 1.125em;
				}

				li {
					& + li {
						padding: 10px 0 0 0;
					}

					a {
						font-weight: bold;

						&:hover {
							text-decoration: underline;
						}
					}

				}
			}
		}

		div.author {
			border-top: 1px solid $dark-blue;
			padding: 30px 0 0 0;
			display: flex;

			.photo {
				min-width: 100px;
				img {
					width: 100%;
					max-width: 100px;
				}				
			}

			.info {
				padding: 0 0 0 30px;
				h4 {
					font-weight: 700;
					font-size: 1.5em;
					padding: 0 0 10px 0;
				}

				p {
					font-size: 1em;
					line-height: 1.625em;
				}
			}
		}

		div.tags {
			padding: 50px 0 0 0;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;

			a {
				display: block;
				padding: 13px 25px 11px;
				font-size: 0.8125em;
				font-weight: 400;
				text-transform: uppercase;
				color: #838485;
				border: 1px solid #838485;
				transition: all 0.2s ease-in-out;
				margin: 0 10px 20px 0;
				border-radius: 25px;
				letter-spacing: 0.05em;

				@include tablet-portrait {
					font-size: 1em;
					padding: 13px 25px 12px;
				}


				&:hover {
					border: 1px solid $blue;
					color: $blue;
				}
			}
		}
	}



	section#related-posts {
		padding: 50px 0 0 0;

		h4 {
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-weight: bold;
			font-size: 0.75em;
			padding: 0 0 50px 0;
		}

		.posts-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			article.related-post {
				width: 100%;
				padding: 0 0 100px 0;

				@include mobile-landscape {
					width: 48%;
				}

				@include tablet-landscape {
					width: 31.3333%;
				}

				.info {
					text-align: center;
					padding: 30px 20px 0 20px;

					ul.post-categories {
						padding: 0 0 20px 0;

						li {
							a {
								text-transform: uppercase;
								font-weight: bold;
								letter-spacing: 0.1em;
								font-size: 0.75em;

								&:hover {
									text-decoration: underline;
								}
							}
						}
					}

					h3 {
						font-size: 1em;
						line-height: 1.625em;
						padding: 0 0 20px 0;
						font-weight: bold;

						a {
							color: $dark-blue;

							&:hover {
								text-decoration: underline;
							}
						}
					}

					em.date {
						color: $gray;
						font-size: 0.9375em;
					}
				}

			}
		}


	}

}