body {
	background: #fcfcfc;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	align-items: center;
	justify-content: center;

	&-wrapper {
		margin: 0 auto;
		max-width: 600px;
		padding: 0 5%;

		@include mobile-landscape {
			padding: 0;
		}
	}

	.close {
		position: absolute;
		right: 30px;
		top: 20px;
	}

	&#newsletter-modal {

		div.form {
			padding: 30px 0 0 0;

			form {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.form-design-field {
					width: 100%;
					padding: 10px 0 0 0;

					@include tablet-portrait {
						padding: 0;

						&#formElement0 {
							width: 55%;
						}

						&#formElement1 {
							width: 40%;
						}
					}

					input {
						display: block;

						&:active,
						&:focus {
							outline: none;
						}
					}

					input[type="text"] {
						border: none;
						padding: 13px 10px;
						width: 100%;
						border-radius: 4px;
					}

					input[type="submit"] {
						background: transparent;
						color: $white;
						text-transform: uppercase;
						font-weight: 600;
						letter-spacing: 0.1em;
						font-size: 0.75em;
						padding: 16px 22px 14px;
						border-radius: 4px;
						border: 2px solid;
						display: block;
						width: 100%;
					}

					.field-p {
						position: relative;
					}

					.LV_validation_message {
						position: absolute;
						width: 100%;
						left: 0;
						bottom: -30px;
						display: block;
						font-size: 0.75em;
					}
				}
			}
		}

	}

	&#search-modal {
		background-color: rgba(0, 0, 0, 0.8);

		.overlay-wrapper {
			width: 100%;
			max-width: 800px;
		}

		.info {
			background: transparent;
			padding: 0;
			width: 100%;

			form {
				width: 100%;
				display: flex;
				flex-wrap: wrap;

				label {
					display: block;
					font-weight: 700;
					font-size: 1.25em;
					padding: 0 0 10px 0;
					width: 100%;
				}

				input[type="text"] {
					border: $dark-blue;
					width: 80%;
					height: 50px;
					line-height: 1em;
					padding: 20px;
					margin: 0 5% 0 0;
					font-size: 20px;

					@include tablet-portrait {
						height: 75px;
						font-size: 30px;
					}

					&:focus {
						outline: none;
					}
				}

				input[type="image"] {
					width: 32px;
	
					@include tablet-portrait {
						width: 40px;
					}
				}

			}
		}

		.close {
			display: none;			
		}




	}

	.info {
		background: $blue;
		color: $white;
		padding: 40px;
		z-index: 1000;

		h2 {
			font-weight: 700;
			font-size: 1.75em;

			@include tablet-landscape {
				font-size: 2.25em;
			}

			&:after {
				content: '';
				display: block;
				background: $white;
				width: 100px;
				height: 4px;
				margin: 20px 0;
			}
		}

		p {
			font-size: 1em;
			line-height: 1.75em;
		}
	}

	form {

	}


}

.post {
	background: $white;

	&-regular,
	&-feature {
		box-shadow: 0 4px 5px rgba(229, 229, 229, 0.5);
		transition: box-shadow 0.25s ease-in-out;

		&:hover {
			box-shadow: 0 4px 5px rgba(104, 104, 104, 0.5);
		}
	}


	&-regular {
		margin: 0 0 20px 0;

		@include tablet-portrait {
			display: flex;
			align-items: center;
		}

		.photo {
			min-height: 150px;
			width: 100%;

			@include mobile-landscape {
				min-height: 200px;
			}

			@include tablet-portrait {
				max-width: 31%;
				min-height: 150px;
			}
		}

		.info {
			padding: 30px;

			@include tablet-landscape {
				padding: 50px;
			}

			.meta {
				display: flex;
				align-items: center;
				padding: 0 0 10px 0;

				em.date {
					font-weight: 300;
					padding: 0 0 0 5px;
					color: $dark-blue;
					letter-spacing: 0.02em;

					&:before {
						content: "/";
						padding: 0 5px 0 0;
					}
				}
			}

			h3 {
				font-weight: 600;
				font-size: 1em;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 1.125em;
				}
			}
		}

		.btn-wrapper {
			padding: 0 30px 30px 30px;
			margin-left: auto;

			a.btn {
				&:hover {
					color: $white;
					border-color: $blue;
					background: $blue;
					text-decoration: none;
				}
			}

			@include tablet-portrait {
				padding: 0 30px 0 0;

				a.btn {
					white-space: nowrap;
				}
			}
		}
	}

	a:hover {
		text-decoration: underline;
	}

}

section#sign-up {
	margin: 20px 0 50px 0;
	background: $blue;
	color: $white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 45px 30px;

	.subscribe-headline {

		@include tablet-portrait {
			width: 35%;
		}

		h2 {
			font-weight: 700;
			font-size: 1.5em;
			line-height: 1.25em;

			&:after {
				display: block;
				content: '';
				width: 125px;
				height: 4px;
				background-color: $white;
				margin: 15px 0 0 0;
			}
		}
	}

	.subscribe-deck {
		padding: 30px 0;

		@include tablet-portrait {
			width: 40%;
			padding: 0 0 0 20px;
		}



		p {
			font-size: 1.125em;
			line-height: 1.5em;
		}
	}

	.subscribe-btn {
		@include tablet-portrait {
			width: 20%;
			text-align: right;
		}		

		.btn {
			color: $white;
			border-color: $white;
			min-width: 130px;
			text-align: center;


			&:hover {
				background: $white;
				color: $blue;
			}
		}
	}



}