html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $dark-blue;
	font: 400 100%/1 $averta;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $averta;
	font-weight: normal;
}

p {

}

a {
	color: $blue;
	transition: all 0.2s ease-in-out;
}

.btn, .alm-load-more-btn {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-size: 0.75em;
	padding: 14px 22px 14px;
	border-radius: 4px;
	border: 2px solid;
	display: inline-block;

	&:hover {
		border-radius: 4px;
	}
}

.alm-btn-wrap {
	text-align: center;
	padding: 50px 0;
}

.alm-load-more-btn {
	color: $blue;
	white-space: nowrap;

	&.done {
		display: none;
	}

	&:active,
	&:focus {
		outline: none;
	}
}

.post {

	h1, h2, h3 {
		a {
			color: $dark-blue;
		}
	}

	ul.post-categories {
		li {
			a {
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-weight: bold;
			}
		}
	}

	.teaser {
		p {
			font-size: 1em;
			line-height: 1.75em;

			@include tablet-portrait {
				font-size: 1.125em;
			}
		}
	}

}