/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #444;
$slate: #2a2a2a;
$black: #000;


$dark-blue: #353D47;
$blue: #1990FF;
$gray: #6E7886;
$pink: #FF3068;




/* Typography
----------------------------------*/
$fontdir: "fonts/";

@font-face {
    font-family: 'averta';
    src: url($fontdir + 'averta-light-webfont.eot');
    src: url($fontdir + 'averta-light-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-light-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-light-webfont.woff') format('woff'),
         url($fontdir + 'averta-light-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-light-webfont.svg#avertalight') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'averta';
    src: url($fontdir + 'averta-lightitalic-webfont.eot');
    src: url($fontdir + 'averta-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-lightitalic-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-lightitalic-webfont.woff') format('woff'),
         url($fontdir + 'averta-lightitalic-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-lightitalic-webfont.svg#avertaregular') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'averta';
    src: url($fontdir + 'averta-regular-webfont.eot');
    src: url($fontdir + 'averta-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-regular-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-regular-webfont.woff') format('woff'),
         url($fontdir + 'averta-regular-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-regular-webfont.svg#avertaregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'averta';
    src: url($fontdir + 'averta-regularitalic-webfont.eot');
    src: url($fontdir + 'averta-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-regularitalic-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-regularitalic-webfont.woff') format('woff'),
         url($fontdir + 'averta-regularitalic-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-regularitalic-webfont.svg#avertaregular') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'averta';
    src: url($fontdir + 'averta-semibold-webfont.eot');
    src: url($fontdir + 'averta-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-semibold-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-semibold-webfont.woff') format('woff'),
         url($fontdir + 'averta-semibold-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-semibold-webfont.svg#avertasemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'averta';
    src: url($fontdir + 'averta-semibolditalic-webfont.eot');
    src: url($fontdir + 'averta-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-semibolditalic-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-semibolditalic-webfont.woff') format('woff'),
         url($fontdir + 'averta-semibolditalic-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-semibolditalic-webfont.svg#avertasemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'averta';
    src: url($fontdir + 'averta-bold-webfont.eot');
    src: url($fontdir + 'averta-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-bold-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-bold-webfont.woff') format('woff'),
         url($fontdir + 'averta-bold-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-bold-webfont.svg#avertasemibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'averta';
    src: url($fontdir + 'averta-bolditalic-webfont.eot');
    src: url($fontdir + 'averta-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-bolditalic-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-bolditalic-webfont.woff') format('woff'),
         url($fontdir + 'averta-bolditalic-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-bolditalic-webfont.svg#avertasemibold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'averta';
    src: url($fontdir + 'averta-extrabold-webfont.eot');
    src: url($fontdir + 'averta-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-extrabold-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-extrabold-webfont.woff') format('woff'),
         url($fontdir + 'averta-extrabold-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-extrabold-webfont.svg#avertasemibold') format('svg');
    font-weight: 900;
    font-style: normal;
}

$averta: 'averta', sans-serif;